<html>
    <head>
        <style>
            input { display: block; }
            ul    { list-style: none; }
        </style>
        <title>Chat</title>
    </head>
    <body>
        <ul id="messages"></ul>
        <form id="chatbox">
            <textarea></textarea>
            <input type="submit" value="Send" />
        </form>

        <script src="/assets/js/jquery-3.4.1.min.js"></script>
        <script src="/assets/js/chat.js"></script>
        <script>initChat("ws://{{.Host}}/room")</script>
    </body>
</html>